*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #0d0d0d; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1.5rem 0;
  font-family: "Poppins", sans-serif;
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-style: italic;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #a259ff; 
}

nav span {
  color: #555;
  font-size: 2rem;
  transform: translateY(-2px); 
}

ul {
  display: flex;
  gap: 5rem;
}

.contact-form {
  padding: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: #111;            
  background-color: white;
  border-radius: 8px;      
}
 
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}
 
.contact-form button:hover {
  background-color: #333;
}

.ButtonContact{
  padding: 5px 10px;       
  font-size: 12px;         
  border-radius: 10px;      
  border: none;            
  background-color: #ae00ff; 
  color: white;            
  width: 50%;             
  height: 40px;            
  display: inline-flex;    
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

form {
  width: 50%;
}

.ContactName {
display: flex;
align-items: center;
}

.contactPage {
  align-items: center;
  background-color: #0d0d0d;
}